apiVersion: v1
kind: Secret
metadata:
  name: minio-creds
  namespace: enterprise-os-demo
type: Opaque
stringData:
  MINIO_ROOT_USER: demo-access-key
  MINIO_ROOT_PASSWORD: demo-secret-key-CHANGE-ME
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: minio
  namespace: enterprise-os-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minio
  template:
    metadata:
      labels:
        app: minio
    spec:
      containers:
        - name: minio
          image: quay.io/minio/minio:RELEASE.2024-09-09T16-59-28Z
          args: ["server", "/data", "--console-address", ":9001"]
          envFrom:
            - secretRef:
                name: minio-creds
          ports:
            - containerPort: 9000
            - containerPort: 9001
          livenessProbe:
            httpGet:
              path: /minio/health/live
              port: 9000
            initialDelaySeconds: 20
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /minio/health/ready
              port: 9000
            initialDelaySeconds: 20
            periodSeconds: 30
---
apiVersion: v1
kind: Service
metadata:
  name: minio
  namespace: enterprise-os-demo
spec:
  ports:
    - port: 9000
      targetPort: 9000
      name: api
    - port: 9001
      targetPort: 9001
      name: console
  selector:
    app: minio
